* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent;
  display: inline-block;
  color: black;
}

.invisible {
  display: none;
}

.container {
  width: 1000px;
  height: 100vh;
  border: 2px solid #9aa6b2;
}

#root {
  display: flex;
  justify-content: center;
  background-color: #f8fafc;
}

.disabled-label {
  pointer-events: none; /* 클릭 불가 */
  opacity: 0.5; /* 흐려진 효과 */
  cursor: not-allowed; /* 비활성화 커서 */
}

/* header */
.header-container {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bcccdc;
  margin-bottom: 20px;
}

.th {
  display: inline-block;
}

.header-nav {
  display: flex;
  list-style: none;
}

.th {
  margin-left: 30px;
}

.menu__button {
  padding: 3px;
  border-radius: 5px;
}

li > button {
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: black;
}

.header-nav > li {
  margin: auto 10px;
  padding: 5px 5px;
}

.header-nav > li:last-child {
  margin-right: 30px;
}

.active {
  background: #f8fafc;
}

/* map page */
.map__button-container {
  display: flex;
  justify-content: space-between;
}

.map__button-container > div > button {
  margin: 5px;
  color: white;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  /* border-bottom: 4px solid rgba(0, 0, 0, 0.21); */
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  padding: 4px 12px;
  font-size: 12px;
  background: linear-gradient(
    to bottom,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
}

.map__button-container > div > button:hover {
  background: linear-gradient(
    0deg,
    rgba(92, 138, 184, 1) 0%,
    rgba(12, 25, 180, 1) 100%
  );
}

.map__button__search {
  display: flex;
  align-items: center;
}

.map__button__search > input {
  height: 28px;
}

/*  */
.location-container {
  position: relative;
  width: 100%;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.homepage-link {
  color: #007bff;
  text-decoration: none;
}

.homepage-link:hover {
  text-decoration: underline;
}

.search {
  margin-bottom: 10px;
}

#__react-kakao-maps-sdk___Map {
  width: 100%;
  height: 600px;
  margin-top: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.thumbnails {
  margin: 7px;
  border: 1px solid #ccc;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.custom-file-label {
  /* display: inline-block;
  padding: 8px 14px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
  min-width: 130px; */
  padding: 12px 20px;
  color: white !important;
  background-color: #007bff; /* 버튼 배경색 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-label:hover {
  background-color: #0056b3;
}

#fileUpload {
  display: none;
}

/* calendar */
.react-calendar {
  width: 500px !important;
  margin: 0 auto;
  border: 2px solid #a3998d !important;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 1em;
  height: 44px !important;
  background: #faf8f3;
  border-bottom: 4px solid #d392f1dc;
  height: 90px;
  border-radius: 20px 20px 0 0;
}

/* span {
  font-size: 24px;
  font-weight: 600;
  color: #d392f1dc;
} */

.react-calendar__navigation button:disabled {
  background-color: pink;
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: pink;
  border-radius: 20px 20px 0 0;
}

.react-calendar__tile {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: blue;
  border-radius: 14px;
}

.react-calendar__tile--now {
  background: lime;
  border-radius: 14px;
}
/*hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: blue;
  border-radius: 14px;
}

/* input type = date 의 기본 달력 ui 삭제하기 */
/* 크롬, 사파리, 엣지 등 웹킷 기반 브라우저 */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* 파이어폭스 */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

/* 인터넷 익스플로러 */
input[type="date"]::-ms-clear {
  display: none;
}

/* 전체적으로 패딩 조절 필요 없을거같기도 하고? */
/* input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

#calendar-switch {
  display: none;
}

/* location */
.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

/* location__image-modal css */
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.image-modal__content {
  position: relative;
  background: aliceblue;
  padding: 10px;
  border-radius: 8px;
  max-width: 800px;
  max-height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable {
  overflow: scroll;
}

.modal-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소 위에 렌더링 */
}

.image-modal__image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
  align-self: flex-start;
}

.image-modal__close-button {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 1001;
}

.image-modal__delete-button {
  padding: 3px 0;
  position: absolute;
  top: 70px;
  right: 19px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 1001;
}

.image-modal__download-button {
  padding: 3px 0;
  position: absolute;
  top: 42px;
  right: 19px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 1001;
}

.hover-red:hover {
  color: red;
}

.return-button {
  padding: 3px;
  font-size: 27px;
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 3;
}

/* info */
.location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 150px;
}

.location-info-close {
  position: absolute;
  right: 5px;
  top: 7px;
  cursor: pointer;
}

.location-info-data {
  padding: 5px;
  color: #000;
  align-self: start;
}

.info-delete-button {
  padding: 3px 0;
  position: absolute;
  bottom: 5px;
  right: 7px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 5;
}

/* delete-modal */
.delete-modal__backdrop {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  z-index: 2003;
}

.delete-modal {
  position: relative;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  text-align: center; /* 텍스트 중앙 정렬 */
  flex-direction: column;
  width: 90%;
  height: 80%;
}

.delete-modal__buttons {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.delete-modal__confirm {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-modal__cancel {
  background: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-modal__confirm:hover {
  background: darkred;
}
.delete-modal__cancel:hover {
  background: darkgray;
}

/* form css */
/* 기본 폼 스타일 */
.form-container {
  background-color: #f8fafc; /* 배경색 */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* 입력 필드 스타일 */
input[type="date"],
input[type="text"] {
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

/* 입력 필드 포커스 상태 */
input[type="date"]:focus,
input[type="text"]:focus {
  border-color: #007bff; /* 포커스 시 파란색 */
  outline: none;
}

/* 라벨 스타일 */
.form-container > label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: auto 0;
}

/* 버튼 스타일 */
.form-submit {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* 버튼 배경색 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 버튼 호버 효과 */
.form-submit:hover {
  background-color: #0056b3; /* 호버 시 버튼 색상 */
}

.location__title,
.location__date {
  display: inline-block;
  margin: 20px 15px;
}

/* 작은 화면에서 폼의 크기 조정 */
@media (max-width: 500px) {
  .form-container {
    width: 90%; /* 작은 화면에서 너비 조정 */
  }
}
